.banner {
    position: relative;
    padding-top: 37vh;
    @extend %bc-img;
    height: 100vh;
    .wrapper {
        z-index: 1;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($black, 0.7);
    }
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 90%;
    text-align: center;
}
.banner-company-name {
    text-transform: uppercase;
    display: block;
    color: $white;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 4px;
    font-weight: 700;
    margin-bottom: 15px;
}
.banner-title {
    position: relative;
    color: $white;
    font-size: 55px;
    line-height: 50px;
    letter-spacing: 8px;
    font-weight: 700;
}
.banner-span {
    padding-top: 20px;
    display: block;
}
.banner-btn {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: transparent;
    padding: 17px 18px;
    border: 1px solid $white;
    transition: 0.3s;
    &:hover {
        opacity: 0.6;
        transition: 0.3s;
    }
    .icon-icon-down-arrow {
        font-size: 13px;
        color: $white;
    }
}

@include breakpoint(phone) {
    .banner-span {
        padding-top: 8px;
    }
}