.katalog-items {
    padding: 40px 0;
    .wrapper {
        font-size: 0;
    }
}
.katalog-item {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 25%;
    .icon-icon-down-arrow {
        font-size: 20px;
        color: $black;
        position: absolute;
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
    }
    .katalog-icon-transform {
        transform: translate(-50%, -50%) rotate(180deg);
        transition: 0.3s;
    }
}
.katalog-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    font-size: 20px;
}
.katalog-content {
    height: 400px;
    width: 100%;
    display: none;
}
.katalog-show {
    display: block;
}