.recent-projects {
    padding: 85px 0px;
    .wrapper {
        @extend %clearfix;
    }
}
.recent-proj-title {
    margin-bottom: 63px;
    color: $cod-gray;
    text-align: center;
    font-size: 39px;
    line-height: 44px;
    font-weight: 700;
}
.recent-proj-gallery {
    font-size: 0;
    margin: 0 -7px;
}
.recent-gallery-item {
    padding: 7px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
}
.recent-project-gallery-item-wrap {
    position: relative;
    @extend %bc-img;
    padding-bottom: 100%;
}
.recent-gallery-link {
    z-index: 2;
    background-color: transparent;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    &:hover {
        background-color: rgba($cod-gray, 0.7);
        transition: 0.3s;
    }
}
.recent-gallery-title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: $white;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    opacity: 0;
    transition: 0.3s;
}
.recent-project-watermark {
    position: absolute;
    right: 7px;
    bottom: 5px;
    height: 25px;
    opacity: 0.7;
}
.recent-gallery-link {
    &:hover {
        .recent-gallery-title {
            opacity: 1;
            transition: 0.3s;
        }
    }
}
.gallery-info {
    margin-top: 10px;
    color: $cod-gray;
    font-size: 16px;
    line-height: 18px;
    float: right;
    font-style: italic;
}
.alt-project-btns {
    padding: 10px 0 30px 0;
    .wrapper {
        @extend %clearfix;
    }
}
.prev-page-btn,
.next-page-btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: $mine-shaft;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 400;
    display: block;
    float: left;
    padding: 9px 19px;
}
.next-page-btn {
    float: right;
}

@include breakpoint(tablet) {
    .recent-gallery-item {
        width: 50%;
    }
}

@include breakpoint(phone) {
    .recent-gallery-item {
        display: block;
        width: 100%;
    }
    .alt-project-btns {
        text-align: center;
    }
    .next-page-btn,
    .prev-page-btn {
        float: none;
        display: inline-block;
    }
    .prev-page-btn {
        margin-bottom: 20px;
    }
}